# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio / Rider
.vs/
.idea/
.vscode/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Build files inside plugins
Plugins/*/Binaries/
Plugins/*/Intermediate/

# OS
.DS_Store
Thumbs.db